# ======================
# GIT
# ======================
.git
.github
.gitignore

# ======================
# IDE
# ======================
.vscode
.idea
*.sw[op]
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# BUILD
# ======================
target/
build/
*.class
*.jar
*.zip

# ======================
# NODE (if used)
# ======================
node_modules
npm-debug.log

# ======================
# TEST
# ======================
src/test
**/*.test.java

# ======================
# DOCS
# ======================
docs/
README.md

# ======================
# ENV (IMPORTANT)
# ======================
*.env
.env.*
.envrc

# ======================
# DOCKER
# ======================
.dockerignore