# PROFILE
SPRING_PROFILES_ACTIVE=prod

# DATABASE
DB_URL=jdbc:postgresql://postgresql:5432/{your_db_name}
DB_NAME=your_db_name
DB_USERNAME=your_username
DB_PASSWORD=your_password

# JWT
JWT_SECRET=super_secret_key
JWT_EXPIRATION=your_expiration

# MAIL
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com

# FRONTEND
RESET_PASSWORD_URL=http://{your_host}/reset-password